.divider {
    &--ACCENT {
        border: 0;
        height: 0;
        border-top: 3px solid $accent-color;
        margin: 2em 0 3em 0;
        width: 4em;
    }

    &--GRAY {
        border: 0;
        height: 0;
        border-top: 1px solid $gray-color;
        margin: 2em 0 2em 0;
        // width: 4em;
    }
}
