<html>
    <head>
        <title>Day Two</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./styles/main.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
