<html>
    <head>
        <title>Day Two</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./styles/main.css">
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/starter-kit">Starter</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </nav>
        {{{body}}}
        <a href="/users/register">Register</a>
    </body>
</html>
