<div class="band--LARGE">
	<div class="container">
		<form class="form" action="/users/login" method="post">
			<h1 class="form-title">Account Login</h1>
			<div class="form-group">
				<input class="form-input-field" name="username" type="text" placeholder="Enter your username">
				<label class="form-label" for="name">Username</label>
			</div>
			<div class="form-group">
				<input class="form-input-field" name="password" type="password" placeholder="Enter your password">
				<label class="form-label" for="name">Password</label>
			</div>
			<button class="form-action" type="submit">Submit</button>
		</form>
	</div>
</div>