<div class="band--LARGE">
	<div class="container">
		{{#if errors}}
		<div class="form-error">
			{{#each errors}}
				{{msg}}
			{{/each}}
		</div>
		{{/if}}
		<form class="form" action="/users/register" method="post">
			<h1 class="page-title">Register</h1>
			<div class="form-group">
				<input class="form-input-field" type="text" placeholder="Name" name="name">
				<label class="form-label" for="name">Name</label>
			</div>
			<div class="form-group">
				<input class="form-input-field" type="text" placeholder="Username" name="username">
				<label class="form-label" for="username">Username</label>
			</div>
			<div class="form-group">
				<input class="form-input-field" type="text" placeholder="Squad name" name="squadname">
				<label class="form-label" for="squadname">Squad name</label>
			</div>
			<div class="form-group">
				<input class="form-input-field" type="email" placeholder="Email" name="email">
				<label class="form-label" for="email">Email</label>
			</div>
			<div class="form-group">
				<input class="form-input-field" type="password" placeholder="Password" name="password">
				<label class="form-label" for="password">Password</label>
			</div>
			<div class="form-group">
				<input class="form-input-field" type="password" placeholder="Confirm password" name="password2">
				<label class="form-label" for="password2">Confirm password</label>
			</div>
			<button class="form-action" type="submit">Submit</button>
		</form>
	</div>
</div>