/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none;
  padding-left: 0; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

*:before, *:after {
  box-sizing: inherit; }

img, embed, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

body {
  font-family: "Assistant", sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  color: #5E5E5E;
  background: #F7F7F7;
  line-height: 1.8; }

@media screen and (max-width: 90em) {
  body {
    font-size: 1.05em;
    line-height: 1.65; } }

@media screen and (max-width: 30em) {
  body {
    font-size: 1em;
    line-height: 1.55; } }

.band {
  padding-bottom: 1em;
  padding-top: 1em; }
  .band--LARGE {
    padding-top: 4em;
    padding-bottom: 4em; }

.container {
  width: 90%;
  max-width: 50em;
  display: block;
  margin: 0 auto; }
  .container--TIGHT {
    width: 90%;
    max-width: 35em;
    display: block;
    margin: 0 auto; }

.divider--ACCENT {
  border: 0;
  height: 0;
  border-top: 3px solid #2E10FF;
  margin: 2em 0 3em 0;
  width: 4em; }

.divider--GRAY {
  border: 0;
  height: 0;
  border-top: 1px solid #D7D8E0;
  margin: 2em 0 2em 0; }

.form {
  margin-bottom: 0; }
  .form-label {
    display: block;
    padding-left: 0.33333em;
    font-size: .875em;
    height: 0;
    color: transparent; }
  .form-title {
    color: #676a84; }
  .form-group {
    padding-bottom: 1em;
    position: relative; }
    .form-group:last-of-type {
      margin-bottom: 2em; }
  .form-input-field {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.33333em;
    padding-right: 0.88889em;
    width: 100%;
    max-width: 25em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D7D8E0;
    font-size: 1em;
    font-weight: 200; }
    .form-input-field:focus {
      outline: none;
      border-bottom: 1px solid #2E10FF;
      max-width: none;
      transition: all 1s ease; }
      .form-input-field:focus ~ label {
        color: #2E10FF;
        position: absolute;
        top: 25%;
        right: .3333em;
        padding-right: 0.33333em;
        transition: all 1s ease; }
  .form-action {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid #2E10FF;
    background: transparent;
    border-radius: 2em;
    font-size: 0.875em;
    color: #2E10FF;
    text-decoration: none; }
    .form-action:hover {
      background-color: #2E10FF;
      color: #F7F7F7; }
    .form-action:focus {
      outline: none; }

.header {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em; }
  .header-navigation {
    display: flex;
    justify-content: flex-end; }
  .header-menu-item {
    display: inline-block;
    font-size: 0.875em; }
    .header-menu-item:not(:first-child) {
      padding-left: 2em; }
  .header-menu-item-link {
    color: #676a84;
    text-decoration: none;
    padding-bottom: 1em;
    padding-top: 1em; }
    .header-menu-item-link:hover {
      border-bottom: 1px solid #2E10FF;
      color: #2E10FF; }

.page-title {
  padding-bottom: 0.33333em; }

.page-description {
  padding-bottom: 1.66667em; }

.tasks-list-item-title {
  color: #040404; }

.tasks-list-item {
  display: flex;
  justify-content: space-between; }
  .tasks-list-item--INFO {
    padding-right: 2em;
    max-width: 85%; }
  .tasks-list-item--STATUS {
    padding-top: 0.5em; }

h1 {
  font-size: 3.157em;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.4; }

h2 {
  font-size: 2.369em;
  font-weight: 200;
  margin-top: 0;
  letter-spacing: -1px; }

h3 {
  font-size: 1.777em;
  font-weight: 400;
  margin-bottom: 0.5em; }

h4 {
  font-size: 1.333em;
  font-weight: 400;
  margin-top: 0; }

h5 {
  font-size: 1.20em;
  font-weight: 400;
  margin-top: 0; }

small,
.font_small {
  font-size: 0.75em; }

p {
  margin-bottom: 1.3em; }

ol {
  margin-bottom: 1.777em; }

pre {
  background: #e5e6eb; }

sup {
  z-index: -1; }

figcaption {
  font-size: .875em;
  color: #babcca;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2em;
  margin-top: -1em; }

.link-base {
  color: #5E5E5E;
  transition: color .15s;
  text-decoration: none; }
  .link-base:hover {
    color: #2E10FF;
    border-bottom: 1px solid #2E10FF;
    transition: color .15s, border-bottom .15s; }

.link--warm {
  color: #2E10FF;
  transition: color .15s;
  text-decoration: none;
  font-weight: 300; }
  .link--warm:hover {
    color: #1500a9;
    border-bottom: 1px solid currentColor;
    transition: color .15s, border-bottom .15s; }

@media screen and (max-width: 48em) {
  h1 {
    font-size: 2.369em; }
  h2 {
    font-size: 1.777em; }
  h3 {
    font-size: 1.333em; }
  h4 {
    font-size: 1.15em; } }

@media screen and (max-width: 30em) {
  h1 {
    font-size: 1.777em; }
  h2 {
    font-size: 1.333em; }
  h3 {
    font-size: 1.20em; }
  h4 {
    font-size: 1.10em; } }

.util-centered {
  text-align: center; }

.util-meta {
  font-size: .875em; }
